[Unit]
Description=PrivateOn VPN Monitor
Requires=network.service

[Service]
Type=forking
ExecStart=/sbin/startproc -p /var/run/PrivateOn-VPN/vpn-monitor.pid /opt/PrivateOn-VPN/vpn-monitor/vpn_monitor.pl
StandardOutput=journal
StandardError=journal
Environment=
ExecStartPre=
EnvironmentFile=
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Alias=PrivateOnvpnmonitor.service
